$min-width-tablet: 750px;
$min-width-desktop: 1024px;

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width: $min-width-tablet) {}

/* Medium Devices, Desktops */
@media only screen and (min-width: $min-width-desktop) {}

/* Phones */
@media (max-width: $min-width-tablet - 1) {
    .phone-hidden, .tablet-visible, .desktop-visible {
        display: none;
    }
}

/* Tablets */
@media (min-width: $min-width-tablet) and (max-width: $min-width-desktop - 1) {
    .phone-visible, .tablet-hidden, .desktop-visible {
        display: none;
    }
}

/* Desktops */
@media (min-width: $min-width-desktop) {
    .phone-visible, .tablet-visible, .desktop-hidden {
        display: none;
    }
}
