<section>
    <aside></aside>
    <div class="content">
        <h3>Step 1: About you</h4>
    </div>
    <aside></aside>
</section>
<!-- -->
{{> name }}
<!-- -->
{{> gender }}
<!-- save -->
{{> save }}
