<article>
    <aside></aside>
    <section>
        <!-- <div class="row"> -->
        <label>What is your sex?</label>
        <!-- </div> -->
        <div class="row">
            <label for="gender">
                <input type="radio" id="gender" name="gender"></input>
                <span class="custom radio"></span>Male
            </label>
            <label for="gender">
                <input type="radio" id="gender" name="gender"></input>
                <span class="custom radio"></span>Female
            </label>
        </div>
    </section>
    <aside></aside>
</article>
