<article>
    <aside></aside>
    <section>
        <label>What is your sex?</label>
        <div class="row">
            <label>
                <input type="radio" id="male" /> Male
            </label>
            <label>
                <input type="radio" id="female" /> Female
            </label>
        </div>
    </section>
    <aside></aside>
</article>
