<section>
    <aside></aside>
    <div class="content">
        <label>What is your sex?</label>
        <label for="gender">
            <input type="radio" id="gender" name="gender" style="display:none;"></input>
            <span class="custom radio"></span>Male
        </label>
        <label for="gender">
            <input type="radio" id="gender" name="gender" style="display:none;"></input>
            <span class="custom radio"></span>Female
        </label>
    </div>
    <aside></aside>
</section>
