<section>
    <aside></aside>
    <div class="content">
        <label class="control-label">What is your sex?</label>
        <div class="form-group radio">
            <label for="male" class="control-label">
                <input id="male" type="radio"></input>Male
            </label>
        </div>
        <div class="form-group radio">
            <label for="female" class="control-label">
                <input id="female" type="radio"></input>Female
            </label>
        </div>
    </div>
    <aside></aside>
</section>
