<article>
    <aside></aside>
    <section>
        <label>What is your sex?</label>
        <div class="row">
            <label for="male">
                <input type="radio" id="male"></input>
                <span class="custom radio"></span>Male
            </label>
            <label for="female">
                <input type="radio" id="female"></input>
                <span class="custom radio"></span>Female
            </label>
        </div>
    </section>
    <aside></aside>
</article>
