<article>
    <aside></aside>
    <!-- <form data-abide> -->
    <section data-abide>
        <label for="title">What is your title?</label>
        <select id="title">
            <option disabled selected>Please select...</option>
            {{#each titles}}
            <option>{{this}}</option>
            {{/each}}
        </select>
        <div class="input-wrapper">
            <label>What is your first name?
                <input type="text" id="first-name" placeholder="Enter your first name" required/>
            </label>
            <small class="error">Poop!</small>
        </div>
        <label>What is your surname?
            <input type="text" id="surname" placeholder="Enter your surname" required/>
        </label>
        <label for="middle-name">What is your middle name? (optional)
            <input type="text" id="middle-name" placeholder="Enter your middle name if you have one" />
        </label>
    </section>
    <!-- </form> -->
    <aside></aside>
</article>
