<section>
    <aside></aside>
    <div class="content">
        <label for="title">What is your title?</label>
        <select id="title">
            <option disabled selected>Please select...</option>
            {{#each titles}}
            <option>{{this}}</option>
            {{/each}}
        </select>
        <label for="first-name">What is your first name?</label>
        <input type="text" id="first-name" placeholder="Enter your first name"></input>
        <label for="surname">What is your surname?</label>
        <input type="text" id="surname" placeholder="Enter your surname"></input>
        <label for="middle-name">What is your middle name? (optional)</label>
        <input type="text" id="middle-name" placeholder="Enter your middle name if you have one"></input>
    </div>
    <aside></aside>
</section>
