<section>
    <aside></aside>
    <div class="content">
        <div class="row">
            <button id="save">Save</button>
        </div>
        <div class="row">
            <button id="cancel">Cancel</button>
        </div>
    </div>
    <aside></aside>
</section>
