<section>
    <aside></aside>
    <div class="content">
        <div class="form-group">
            <button id="save" class="form-control btn btn-primary">Save</button>
        </div>
        <div class="form-group">
            <button id="cancel" class="form-control btn btn-default">Cancel</button>
        </div>
    </div>
    <aside></aside>
</section>
